<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>crm</display-name>
  <welcome-file-list>
    <welcome-file>pages/admin/index.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Only admins</web-resource-name>
      <url-pattern>/pages/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMINISTRADOR</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/pages/login.xhtml</form-login-page>
      <form-error-page>/pages/login.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>ADMINISTRADOR</role-name>
  </security-role>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>br.com.crm.filtros.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/admin/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AcessarLoginLogadoFilter</filter-name>
    <filter-class>br.com.crm.filtros.AcessarLoginLogadoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AcessarLoginLogadoFilter</filter-name>
    <url-pattern>/pages/login.xhtml</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>